* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
	opacity: .3;
	filter: blur(8px);
	z-index: -100
}

.page {
	z-index: 9999;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

input {
	outline: none;
}

.textwiew {
	width: 248px;
	height: 70px;
	margin-bottom: 5px;
	margin-right: 3px;
	font-size: 30px;
	color: dimgray;
	padding-left: 15px;
	border: 1px solid dimgray;
	background-color: transparent;
}

.buttons input{
	width: 60px;
	height: 50px;
	margin: 2px;
	margin-top: 5px;
	cursor: pointer;
	border: none;
	color: white;
	background-color: dimgray;
	transition: .3s
}

.buttons input:hover {
	background-color: #464646;
}

.buttons input:active {
	background-color: #292929;
}

.sitebutton {
	height: 100vh;
	color: white;
	background-color: gray;
	border: none;
	width: 100px;
	font-size: 50px;
	opacity: .4;
	transition: .5s;
	cursor: pointer;
	outline: none;
}

.sitebutton:hover {
	opacity: 1;
}
