* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font-family: sans-serif;
	font-size: 15px;
}

#bg {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: url(../img/bg4.jpg) no-repeat;
	background-size: cover;
	opacity: 1;
	filter: blur(6px);
	transition: 1s;
	z-index: -100;
}

.page {
	top: 0;
	left: 70px;
}

#canvas {
	height: calc(100vh - 225px);
	width: calc(100% - 200px);
	margin: 30px;
	margin-left: 100px;
	cursor: crosshair;
}

#box1 button {
	margin-left: 15px;
	margin-bottom: 15px;
	width:  100px;
	background-color: gray;
	padding: 10px;
	text-decoration: none;
	color: white;
	border: none;
	outline: none;
	transition: .5s;
	cursor: pointer;
}

#box1, #box3, #box4 {
	padding-left: 70px;
}

#box2 {
	padding-right: 70px;
}

#box1 button:hover {
	background-color: dimgray;
}

#box1 button:active {
	background-color: #292929;
}

#colorpic {
	height: 33px;
	margin-left: 30px;
	margin-top: 10px;
	width: 198px;
	padding-left: 10px;
	outline: none;
	border: 1px solid grey;
}

#activecolor {
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
	margin-left: 10px;
}

#sizepic {
	margin-left: 60px;
	margin-top: 7px;
}

#activesize {
	width: 40px;
	margin-top: -31px;
	margin-left: 200px;
	float: left;
	height: 30px;
	background-color: transparent;
	border: 1px solid silver;
	outline: none;
	padding-left: 10px;
	color: white;
}

#box4 {
	display: flex;
}

#box4 button {
	height: 35px;
	width: 35px;
	margin-top: 10px;
	outline: none;
	background-color: white;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	transition: 0.5s;
}

#box4 button:hover {
	background-color: #e8e8e8;
}

#box4 button:active {
	background-color: gray;
}


#wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(50px, auto);
}

#wrapper div{
/*	border: 1px solid black; */
}

#box2 {
	justify-self: end;
	grid-column: 2/2;
	grid-row: 1/4;
}

#box3 {
	height: 40px;
	margin-top: 10px;
}

#colors div {
	height: 30px;
	width: 30px;
	margin-left: 10px;
	cursor: pointer;
	transition: 0.3s;
}

#colors div:hover {
	height: 40px;
}


#colors {
	display: flex;
	list-style: none;
}

#colors #eraser {
	width: 100px;
	text-align: center;
	line-height: 30px;
	color: dimgray;
	transition: 0.3s;
}

#colors #eraser:hover {
	line-height: 40px;
}


#sizes {
	display: flex;
	align-items: center;
	flex-direction: row;
	list-style: none;

}

#sizes div {
	border-radius: 50%;
	background-color: dimgray;
	color: white;
	height: 30px;
	width: 30px;
	margin-right: 30px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s;
}

#sizes div:hover {
	background-color: #292929;
}

#sizes div:active {
	background-color: black;
}

#sizes #sz150 {
	height: 150px;
	width: 150px;
	line-height: 150px;
}

#sizes #sz100 {
	height: 100px;
	width: 100px;
	line-height: 100px;
}

#sizes #sz50 {
	height: 50px;
	width: 50px;
	line-height: 50px;
}

#sizes #sz25 {
	height: 25px;
	width: 25px;
}

#sizes #sz10 {
	height: 10px;
	width: 10px;
}


.sitebutton {
	height: 100vh;
	color: white;
	background-color: gray;
	border: none;
	width: 70px;
	font-size: 50px;
	opacity: .4;
	transition: .5s;
	cursor: pointer;
	position: absolute;
	outline: none;
}

.sitebutton:hover {
	opacity: 1;
	position: absolute;
}

.buttonR {
	top: 0;
	right:0;
}