* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}


.bg {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: url(../img/bg1.jpeg) no-repeat;
	background-size: cover;
	opacity: .5;
	filter: blur(6px);
	transition: 1s;
}

.bg:hover {
	opacity: .9;
}

.page {
	z-index: 9999;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

div {

}

.logo {
	margin: 50px;
	opacity: 1;
	transition: 0.5s;
	z-index: 1000;
}

.logo:hover {
	filter: contrast(110%);
}

.image {
	position: relative;
	width: 384px;
	height: 145px;
}

.image .app {
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}

.image:hover .app.app5{
	transform: translateY(-80px);
	opacity: 1;
}

.image:hover .app.app4{
	transform: translateY(-60px);
	opacity: 0.8;
}

.image:hover .app.app3{
	transform: translateY(-40px);
	opacity: 0.6;
}

.image:hover .app.app2{
	transform: translateY(-20px);
	opacity: 0.4;
}

.image:hover .app.app1{
	transform: translateY(0px);
	opacity: 0.2;
}